<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
	  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	  <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
	  <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
	  <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
	  <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
	  <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
	  <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
	  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
	  <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
	  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	  <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
	  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	  <link rel="manifest" href="/static/manifest.json">
	  <meta name="msapplication-TileColor" content="#ffffff">
	  <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
	  <meta name="theme-color" content="#ffffff">
	  <style type="text/css">
		body {
			  position: relative;
			  margin: 0;
			  padding-bottom: 6rem;
			  min-height: 100%;
			  font-family: HelveticaNeue-UltraLight, Arial, sans-serif;
		}
	  .frame{
	  border: 0;
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  font-family:HelveticaNeue-UltraLight, Arial, sans-serif;
	  font-size:300%;
	  font-weight:100;
	  color:#F7F7F7;
	  }
	  </style>
   </head>

   <body style="background-color:#000000">
			{{ buttons|safe }}

    </div>
   </body>
</html>
