[Unit]
Description=ipNotifier
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/bin/bash /home/pi/WebGPIO/scripts/ipNotifier.sh
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target

