[Unit]
Description=ipNotifier
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/WebGPIO/scripts/ipNotifier.sh
ExecStop=/usr/bin/pkill timeout
ExecStop=/usr/bin/pkill ipNotifier.sh
TimeoutStopSec=30
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target

